@{
    Layout = "~/Views/Shared/AllianceLayout.cshtml";
}
<div class="alliance-logo"></div>

<div class="jumbotron container">
    <h1><span class="headline">Support</span></h1><hr />

    <p class="text">Hvis du oplever tekniske fejl på forummet eller lignende, bedes du sende en mail til denne addresse:</p><br />
    <address>
        <p class="text">Support:</p>
        <p class="text"><a href="mailto:Support@riseofvikings.dk">support@riseofvikings.dk</a></p>
    </address>

    <address>
        <p class="text">Generel kontakt:</p>
        <p class="text"><a href="mailto:kontakt@riseofvikings.dk">kontakt@riseofvikings.dk</a></p>
    </address>
</div>