@{
    Layout = "~/Views/Shared/AllianceLayout.cshtml";
}
<div class="alliance-logo"></div>

<div class="jumbotron">
    <h1><span class="headline">Videoer</span></h1><hr />
    <p class="text">
        Hver gang vi raider, vil vi optage vores progress og uploade hertil. Du kan også se vores film fra vores youtube!
    </p>
</div>

<div class="jumbotron">
    <p class="text">
        Vi har indtil videre ikke uploadet nogle videoer!
    </p><br />
    <p class="text">Her er lidt til at lette dit humør! Hilsen, administratorerne!</p>
    <iframe width="560" height="315" src="//www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allowfullscreen></iframe>
</div>
