@{
    Layout = "~/Views/Shared/HordeLayout.cshtml";
}
<div class="horde-logo"></div>
<div class="jumbotron" style="z-index: 99;">
    <h1><span class="headline">Om Rise of Vikings Horde</span></h1><hr />
    <pre>@Model.About.about1</pre><br />
    <p class="text">Besøg os på <a href="http://eu.battle.net/wow/en/guild/korgall/Rise_of_Vikings/" target="_blank">Battle.net!</a></p>
    <br />
    @if (Session["User"] != null && Model.LoggedInUser.role_id == 1)
    {
        <form action="@Url.Action("ChangeAbout", "Horde")">
            <input type="submit" class="btn btn-primary btn-lg horde-btn" value="Ændre" />
        </form>
    }
</div>
