@{
    Layout = "~/Views/Shared/HordeLayout.cshtml";
}
<div class="horde-logo"></div>

<div class="jumbotron">
    <h1><span class="headline">Support</span></h1><hr />
    <p class="text">Hvis du oplever tekniske fejl på forummet eller lignende, bedes du sende en mail til denne addresse:</p>
    <address>
        <p class="text">Support:</p>
        <p class="text"><a href="mailto:Support@riseofvikings.dk" class="horde-link">Support@riseofvikings.dk</a></p><br />
    </address>
</div>