@{
    Layout = "~/Views/Shared/HordeLayout.cshtml";
}
<div class="horde-logo"></div>

<div class="jumbotron">
    <h1><span class="headline">Support</span></h1><hr />
    <p class="text">Hvis du oplever tekniske fejl på forummet eller lignende, bedes du sende en mail til denne addresse:</p>
    <address>
        <p class="text">Support:</p>
        <p class="text"><a href="mailto:support@riseofvikings.dk" class="horde-link">support@riseofvikings.dk</a></p><br />
    </address>

    <address>
        <p class="text">Generel kontakt:</p>
        <p class="text"><a href="mailto:kontakt@riseofvikings.dk" class="horde-link">kontakt@riseofvikings.dk</a></p>
    </address>
</div>