@{
    Layout = "~/Views/Shared/HordeLayout.cshtml";
}
<div class="horde-logo"></div>
<div class="jumbotron">
    <h1><span class="headline">Raid Teams</span></h1><hr />
    <p class="text">
        De nuværende raid teams!
        Hvis vi mangler raidere, er det her vi vil poste det. Vi opretter også en tråd på forummet hvis vi mangler folk.
    </p>
</div>

<div class="jumbotron">
    <h1 style="color: white; font-size: 40px"><font face="Agency FB">Raid team #1</font></h1>
    <table style="width: 100%">
        <tr style="color: white">
            <td class="tableCol1" style="text-align: center"><h2><font face="Agency FB">Role</font></h2></td>
            <td class="tableCol1" style="text-align: center"><h2><font face="Agency FB">In-game Name</font></h2></td>
            <td class="tableCol1" style="text-align: center"><h2><font face="Agency FB">Gear Roll</font></h2></td>
        </tr>
        <tr>
            <td class="tableCol">Tank</td>
            <td class="tableCol" style="background-color: darkred"> Detilíum</td>
            <td class="tableCol">Plate</td>
        </tr>
        <tr class="tableRow">
            <td class="tableCol">Tank</td>
            <td class="tableCol">None</td>
            <td class="tableCol"></td>
        </tr>
        <tr class="tableRow">
            <td class="tableCol">Healer</td>
            <td class="tableCol" style="background-color: blue"> Moonsplitter</td>
            <td class="tableCol">Mail</td>
        </tr>
        <tr class="tableRow">
            <td class="tableCol">Healer</td>
            <td class="tableCol">None</td>
            <td class="tableCol"></td>
        </tr>
        <tr class="tableRow">
            <td class="tableCol">DPS</td>
            <td class="tableCol" style="background-color: purple">Wizzyg</td>
            <td class="tableCol">Cloth</td>
        </tr>
        <tr class="tableRow">
            <td class="tableCol">DPS</td>
            <td class="tableCol" style="background-color: green">Grimül</td>
            <td class="tableCol">Mail</td>
        </tr>
        <tr class="tableRow">
            <td class="tableCol">DPS</td>
            <td class="tableCol" style="background-color: sienna">Thewicked</td>
            <td class="tableCol">Mail
        </tr>
        <tr class="tableRow">
            <td class="tableCol">DPS</td>
            <td class="tableCol" style="background-color: slateblue">Everlon</td>
            <td class="tableCol">Cloth</td>
        </tr>
        <tr class="tableRow">
            <td class="tableCol">DPS</td>
            <td class="tableCol" style="background-color: ">None</td>
            <td class="tableCol"></td>
        </tr>
        <tr class="tableRow">
            <td class="tableCol">DPS</td>
            <td class="tableCol" style="background-color: ">None</td>
            <td class="tableCol"></td>
        </tr>
    </table>
</div>

<div class="jumbotron">
    <h1 style="color: white; font-size: 40px"> Raid team #2</h1>
    <table style="width: 100%">
        <tr style="color: white">
            <td class="tableCol1"> <h2>Role</h2></td>
            <td class="tableCol1"><h2>In-game Name</h2></td>
            <td class="tableCol1"><h2>Gear Roll</h2></td>
        </tr>
        <tr class="tableRow">
            <td class="tableCol">Tank</td>
            <td class="tableCol" style="background-color: darkred">Kyhn</td>
            <td class="tableCol">Plate</td>
        </tr>
        <tr class="tableRow">
            <td class="tableCol">Tank</td>
            <td class="tableCol" style="background-color: sienna">Riskforu</td>
            <td class="tableCol">Mail</td>
        </tr>
        <tr class="tableRow">
            <td class="tableCol">Healer</td>
            <td class="tableCol" style="background-color: blue">Cafee</td>
            <td class="tableCol">Mail</td>
        </tr>
        <tr class="tableRow">
            <td class="tableCol">Healer</td>
            <td class="tableCol" style="background-color: ">None</td>
            <td class="tableCol"></td>
        </tr>
        <tr class="tableRow">
            <td class="tableCol">DPS</td>
            <td class="tableCol" style="background-color: green">Fredspipen</td>
            <td class="tableCol">Mail</td>
        </tr>
        <tr class="tableRow">
            <td class="tableCol">DPS</td>
            <td class="tableCol" style="background-color: purple">Glimmergaunt</td>
            <td class="tableCol">Cloth</td>
        </tr>
        <tr class="tableRow">
            <td class="tableCol">DPS</td>
            <td class="tableCol" style="background-color: slateblue">Magattack</td>
            <td class="tableCol">Cloth</td>
        </tr>
        <tr class="tableRow">
            <td class="tableCol">DPS</td>
            <td class="tableCol" style="background-color: ">None</td>
            <td class="tableCol"></td>
        </tr>
        <tr class="tableRow">
            <td class="tableCol">DPS</td>
            <td class="tableCol" style="background-color: ">None</td>
            <td class="tableCol"></td>
        </tr>
        <tr class="tableRow">
            <td class="tableCol">DPS</td>
            <td class="tableCol" style="background-color: ">None</td>
            <td class="tableCol"></td>
        </tr>
    </table>
</div>