@{
    Layout = "~/Views/Shared/HordeLayout.cshtml";
}
<div class="horde-logo"></div>
<div class="jumbotron" style="z-index: 99;">
    <h1><span class="headline">Horde Streamere</span></h1><hr />

    <p class="text">
        Nogle af spillerne er også streamere!
        Du kan se de forskellige Horde streams her.
    </p>
</div>
<div class="jumbotron">
    <a href="http://www.twitch.tv/detilium?tt_medium=live_embed&tt_content=text_link" style="padding:2px 0px 4px; display:block; width:345px; font-weight:normal; font-size:10px;text-decoration:underline;">Se Detilium på www.twitch.tv</a>
    <iframe src="http://www.twitch.tv/detilium/embed" frameborder="0" scrolling="no" height="378" width="620"></iframe>
    <iframe src="http://www.twitch.tv/detilium/chat?popout=" frameborder="0" scrolling="no" height="378" width="390"></iframe>
</div>